.custom-table-container {
  background-color: white;
  border-radius: 15px; /* Adjust the value for more or less curvature */
  padding: 15px; /* Optional: Adds some padding inside the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow for better aesthetics */
}

.custom-table {
  border-radius: 15px;
  overflow: hidden; /* Ensures rounded corners are visible */
  border-collapse: separate; /* Makes sure borders stay separate */
}

.custom-table th,
.custom-table td {
  border: 1px solid #dee2e6;
}

.old-price {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: #0463fa;
}

.new-price {
  background-color: #0463fa;
  padding: 2px 5px;
  margin-left: 5px;
  color: white;
}

.promotion-wrapper {
  position: relative;
}

.promotion {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5px;
  color: #0463fa;
  font-weight: bold;
  font-size: small;
  animation: blink 3s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  } /* Fully visible */
  50% {
    opacity: 0;
  } /* Hidden */
}
